.image-size{
  height: 30px;
}

.nav-top{
  background-color: rgb(100, 149, 237,0.7);
  font-family:'Lucida Console", "Courier New", monospace';
  font-weight: 900;
}

.header{
  text-align: center;
  font-size: 30px;
  font-family:'Lucida Console", "Courier New", monospace';
  font-weight: 900;
  color: cornflowerblue;
}

.price-header{
  font-weight: 900;
  color: cornflowerblue;
}

.shirt-selected{
height: 50%;
width: 50%;
}
.cart{
  background-color: rgb(100, 149, 237,0.3);
height: 100vh;
  font-family:'Lucida Console", "Courier New", monospace';
}
.categories{
  font-family:'Lucida Console", "Courier New", monospace';
}
.p-img{
height: 80%;
width: 80%;

}

.p-name{
  font-family:'Lucida Console", "Courier New", monospace';

}